[Unit]
Description=Hedgedoc docker container
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=docker-compose -f /home/lettucebowler/docker-images/hedgedoc/docker-compose.yml -p hedgedoc up

[Install]
WantedBy=multi-user.target
