[Unit]
Description=PaperMC docker container
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=docker-compose -f /home/lettucebowler/docker-images/papermc/docker-compose.yml -p papermc up

[Install]
WantedBy=multi-user.target
