[Unit]
Description=heimdall docker container
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=docker-compose -f /home/lettucebowler/docker-images/heimdall/docker-compose.yml -p heimdall up

[Install]
WantedBy=multi-user.target
