[Unit]
Description=Landing page docker container
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=docker-compose -f /home/lettucebowler/docker-images/hello/docker-compose.yml -p hello up

[Install]
WantedBy=multi-user.target
