[Unit]
Description=Plex Docker container
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=docker-compose -f /home/lettucebowler/docker-images/plex/docker-compose.yml -p plex up

[Install]
WantedBy=multi-user.target
