[Unit]
Description=Lettuce Sudoku docker container
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=docker-compose -f /home/lettucebowler/docker-images/sudoku/docker-compose.yml -p sudoku up

[Install]
WantedBy=multi-user.target
