[Unit]
Description=deluge proxy service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=docker-compose -f /home/lettucebowler/docker-images/deluge-proxy/docker-compose.yml -p deluge-proxy up

[Install]
WantedBy=multi-user.target
