services:
  papermc:
    image: ghcr.io/itzg/minecraft-server:java21-graalvm
    container_name: papermc
    environment:
      EULA: TRUE
      TYPE: PAPER
      VERSION: 1.21.8
      OPS: lettucebowler
      WHITELIST: |
        lettucebowler
        gabby_stabby
        _kronk13_
        ewald88
        dylanlee1998
        MrsMelatonin
      EXISTING_WHITELIST_FILE: MERGE
      ENFORCE_WHITELIST: TRUE
      DIFFICULTY: normal
      ALLOW_NETHER: TRUE
      SERVER_NAME: LettuceCraft
      MOTD: Stove house
      ONLINE_MODE: TRUE
      OVERRIDE_SERVER_PROPERTIES: TRUE
      MAX_TICK_TIME: -1
      USE_AIKAR_FLAGS: TRUE
      TZ: America/Chicago
      INIT_MEMORY: 2G
      MAX_MEMORY: 16G
      ENABLE_ROLLING_LOGS: TRUE
      VIEW_DISTANCE: 12
      PLUGINS: |
        https://github.com/dmulloy2/ProtocolLib/releases/download/5.4.0/ProtocolLib.jar
        https://cdn.modrinth.com/data/hXiIvTyT/versions/Oa9ZDzZq/EssentialsX-2.21.2.jar
        https://github.com/oddlama/vane/releases/download/v1.19.0/vane-admin-1.19.0.jar
        https://github.com/oddlama/vane/releases/download/v1.19.0/vane-bedtime-1.19.0.jar
        https://github.com/oddlama/vane/releases/download/v1.19.0/vane-core-1.19.0.jar
        https://github.com/oddlama/vane/releases/download/v1.19.0/vane-enchantments-1.19.0.jar
        https://github.com/oddlama/vane/releases/download/v1.19.0/vane-permissions-1.19.0.jar
        https://github.com/oddlama/vane/releases/download/v1.19.0/vane-portals-1.19.0.jar
        https://github.com/oddlama/vane/releases/download/v1.19.0/vane-regions-1.19.0.jar
        https://github.com/oddlama/vane/releases/download/v1.19.0/vane-trifles-1.19.0.jar
        https://cdn.modrinth.com/data/fALzjamp/versions/P3y2MXnd/Chunky-Bukkit-1.4.40.jar
        https://cdn.modrinth.com/data/PFb7ZqK6/versions/p1vSXDNS/squaremap-paper-mc1.21.8-1.3.8.jar
        https://cdn.modrinth.com/data/1u6JkXh5/versions/Jk1z2u7n/worldedit-bukkit-7.3.16.jar
        https://cdn.modrinth.com/data/OhduvhIc/versions/qO1MV511/veinminer-paper-2.5.1.jar
        https://cdn.modrinth.com/data/YrkmSvXh/versions/xyccMvh6/TreeFeller-1.26.2.jar
        https://cdn.modrinth.com/data/Vebnzrzj/versions/ZPtLedoF/LuckPerms-Bukkit-5.5.0.jar
    volumes:
      - /opt/docker/volumes/minecraft/papermc-data:/data
      - ./plugins:/plugins
    restart: always
    ports:
      - 25565:25565

  tunnel:
    container_name: minecraft-tunnel
    image: cloudflare/cloudflared
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CF_TUNNEL_TOKEN}
