services:
  gluetun:
    image: ghcr.io/qdm12/gluetun:latest
    container_name: torrent-gluetun
    restart: always
    cap_add:
      - NET_ADMIN
    environment:
      - VPN_SERVICE_PROVIDER=airvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      - SERVER_CITIES=Chicago Illinois,Toronto Ontario
      - SERVER_COUNTRIES=United States,Canada
      - FIREWALL_VPN_INPUT_PORTS=${WIREGUARD_FORWARDED_PORT}
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_PRESHARED_KEY=${WIREGUARD_PRESHARED_KEY}
    ports:
      - 9091:9091
    devices:
      - /dev/net/tun:/dev/net/tun
  tailscale:
    image: ghcr.io/tailscale/tailscale:latest
    container_name: torrent-tailscale
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_EXTRA_ARGS=--reset --advertise-tags=tag:container
      - TS_HOSTNAME=torrent
    volumes:
      - /opt/docker/volumes/torrent/tailscale-data:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    restart: always

  caddy:
    container_name: torrent-caddy
    build: ../caddy
    environment:
      - CF_API_TOKEN=${CF_API_TOKEN}
    network_mode: service:tailscale
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - /opt/docker/volumes/torrent/caddy-data:/data
      - /opt/docker/volumes/torrent/caddy-config:/config
    cap_add:
      - net_admin
    restart: always
  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: torrent-transmission
    network_mode: service:gluetun
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - PEERPORT=${WIREGUARD_FORWARDED_PORT}
    volumes:
      - /opt/docker/volumes/torrent/transmission-config:/config
      - nfs_downloads:/downloads
      - nfs_watch_dir:/watch
    restart: unless-stopped

volumes:
  nfs_downloads:
    driver: local
    driver_opts:
      type: nfs
      device: ":/mnt/Media/Share/Downloads"
      o: "addr=192.168.10.99,nfsvers=4,rw"
  nfs_watch_dir:
    driver: local
    driver_opts:
      type: nfs
      device: ":/mnt/Media/Share/Downloads/torrents"
      o: "addr=192.168.10.99,nfsvers=4,rw"
